<?xml version="1.0"?>
<launch>
    <arg name="roomba"      default="roomba1" />
    <arg name="config_path" default="$(find place_recognition)/config" />
    <arg name="wait_time"   default="25.0" />
    <arg name="date"        default="20220630" />

    <!-- unzipper -->
    <include file="$(find place_recognition)/launch/utils/image_unzipper.launch" >
        <arg name="roomba" value="$(arg roomba)"/>
    </include>

    <!-- bag_player -->
    <arg name="is_bag" default="true" />
    <group if="$(arg is_bag)" >
        <include file="$(find place_recognition)/launch/utils/bag_player.launch" >
            <arg name="wait_time" value="$(arg wait_time)" />
            <arg name="date"      value="$(arg date)" />
            <arg name="roomba"    value="$(arg roomba)" />
        </include>
    </group>

    <!-- equirectangular_convertor -->
    <arg name="theta_s_mode" default="0" />
    <arg name="is_theta_s_visualize" default="false" />
    <node pkg="equirectangular_convertor" type="equirectangular_convertor_node" name="$(arg roomba)_equirectangular_convertor_node" >
        <!-- params -->
        <param name="dual_topic_name" value="$(arg roomba)/theta_s/image_raw" />
        <param name="equi_topic_name" value="$(arg roomba)/equirectangular/image_raw" />
        <param name="is_visualize"    value="$(arg is_theta_s_visualize)" />
        <param name="mode"            value="$(arg theta_s_mode)" />
    </node>

    <!-- rviz -->
    <arg name="is_rviz" default="false" />
    <group if="$(arg is_rviz)" >
        <node pkg="rviz" type="rviz" name="$(arg roomba)_rviz" args="-d $(arg config_path)/rviz/rviz/$(arg roomba).rviz" />
    </group>

</launch>
