<?xml version="1.0"?>
<launch>
    <arg name="roomba"      default="roomba2" />
    <arg name="config_path" default="$(find place_recognition)/config" />

    <!-- rosbag -->
    <include file="$(find ros_utils)/launch/bag_player.launch" >
        <arg name="roomba"               value="$(arg roomba)" />
        <arg name="wait_time"            value="0.0" />
        <arg name="file_path"            value="$(env HOME)/bagfiles/experimental_file_20220224/" />
        <arg name="convertor_theta_s"    value="true" />
        <arg name="publish_objects_data" value="false" />
    </include>

    <!-- keypoints_detector -->
    <node pkg="place_recognition" type="keypoints_detector" name="keypoints_detector" output="screen" >
        <!-- remap -->
        <remap from="img_in" to="$(arg roomba)/equirectangular/image_raw" />

        <!-- rosparams -->
        <rosparam command="load" file="$(arg config_path)/params/inpaintor/$(arg roomba).yaml" />
    </node>

    <!-- rviz -->
    <arg name="is_rviz" default="true" />
    <group if="$(arg is_rviz)" >
        <node pkg="rviz" type="rviz" name="$(arg roomba)_rviz" args="-d $(arg config_path)/rviz/keypoints_detector/$(arg roomba).rviz" />
    </group>

</launch>
