<?xml version="1.0"?>
<launch>
    <arg name="wait_time" default="25.0" />
    <arg name="file_path" default="$(env HOME)/bagfiles/experimental_file_20220630" />
    <arg name="roomba"    default="roomba1" />

    <!-- rosbag -->
    <node pkg="rosbag" type="play" name="$(arg roomba)_play" args=" -d $(arg wait_time) $(arg file_path)/$(arg roomba).bag" />

</launch>
