<?xml version="1.0"?>
<launch>
    <arg name="wait_time" default="25.0" />

    <!-- roomba1 (equirectangular_convertor, rosbag) -->
    <include file="$(find place_recognition)/launch/utils/equirectangular_convertor.launch" >
        <arg name="is_bag"               value="true" />
        <arg name="theta_s_mode"         value="0" />
        <arg name="is_theta_s_visualize" value="false" />
        <arg name="is_rviz"              value="false" />
        <arg name="roomba"               value="roomba1" />
        <arg name="wait_time"            value="$(arg wait_time)" />
    </include>

    <!-- roomba2 (equirectangular_convertor, rosbag) -->
    <include file="$(find place_recognition)/launch/utils/equirectangular_convertor.launch" >
        <arg name="is_bag"               value="true" />
        <arg name="theta_s_mode"         value="0" />
        <arg name="is_theta_s_visualize" value="false" />
        <arg name="is_rviz"              value="false" />
        <arg name="roomba"               value="roomba2" />
        <arg name="wait_time"            value="$(arg wait_time)" />
    </include>

    <!-- roomba3 (equirectangular_convertor, rosbag) -->
    <include file="$(find place_recognition)/launch/utils/equirectangular_convertor.launch" >
        <arg name="is_bag"               value="true" />
        <arg name="theta_s_mode"         value="0" />
        <arg name="is_theta_s_visualize" value="false" />
        <arg name="is_rviz"              value="false" />
        <arg name="roomba"               value="roomba3" />
        <arg name="wait_time"            value="$(arg wait_time)" />
    </include>

    <!-- roomba4 (equirectangular_convertor, rosbag) -->
    <include file="$(find place_recognition)/launch/utils/equirectangular_convertor.launch" >
        <arg name="is_bag"               value="true" />
        <arg name="theta_s_mode"         value="0" />
        <arg name="is_theta_s_visualize" value="false" />
        <arg name="is_rviz"              value="false" />
        <arg name="roomba"               value="roomba4" />
        <arg name="wait_time"            value="$(arg wait_time)" />
    </include>

    <!-- roomba5 (equirectangular_convertor, rosbag) -->
    <include file="$(find place_recognition)/launch/utils/equirectangular_convertor.launch" >
        <arg name="is_bag"               value="true" />
        <arg name="theta_s_mode"         value="0" />
        <arg name="is_theta_s_visualize" value="false" />
        <arg name="is_rviz"              value="false" />
        <arg name="roomba"               value="roomba5" />
        <arg name="wait_time"            value="$(arg wait_time)" />
    </include>

    <!-- roomba6 (equirectangular_convertor, rosbag) -->
    <include file="$(find place_recognition)/launch/utils/equirectangular_convertor.launch" >
        <arg name="is_bag"               value="true" />
        <arg name="theta_s_mode"         value="0" />
        <arg name="is_theta_s_visualize" value="false" />
        <arg name="is_rviz"              value="false" />
        <arg name="roomba"               value="roomba6" />
        <arg name="wait_time"            value="$(arg wait_time)" />
    </include>

</launch>
